html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Tablets and PC */
@media (min-width: 768px) { 
  html {
    font-size: 15px;
  }
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #ebffff;
}

/* Navigation bar */
#navbarheader {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#navbar {
    background-color: #bee4fc;
    opacity: 0.8;
    margin-left:auto !important;
}

.nav-link, nav-link:visited {
    font-size: 1.3vw;
    color: #0111a2 !important;
    font-weight: 700;
    transition: transform 0.5s;
}

.nav-link:hover {
    color: #2e8508 !important;
    transform:scale(1.15);
}
/* Navigation bar end */