@page "/Error"

@model RoutePlanner.Pages.ErrorModel
@{
    ViewData["Title"] = "Informacja o błędzie";
    Layout = "_Layout";
}

<head>
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/ErrorInfo.css">

    <title>Błąd</title>
</head>

<h1><strong>Wystąpił błąd.</strong></h1>
<br />
<h2>@Model.ExceptionMessage</h2>
<a class="errorLink" href="~/">Naciśnij tutaj, by powrócić na stronę główną</a>
<br /><br />
<p>@Model.InnerException</p>
