@page
@model RoutePlanner.Pages.InfoModel
@{
    ViewData["Title"] = "O aplikacji";
    Layout = "_Layout";
}
<head>
    <!-- My CSS -->
	<link rel="stylesheet" href="~/css/InfoPage.css">
</head>

<h1>O aplikacji</h1>
<h2>Ogólnie o aplikacji</h2>
<p>Aplikacja automatycznie wyszukuje ładowarki na trasie pomiędzy podanymi punktami, jednocześnie wskazując zasięg jazdy wybranego samochodu.
	Po zalogowaniu użytkownik otrzymuje możliwość dodania własnych samochodów, które zostaną zapisane na jego koncie.<br />
	Aby wyznaczyć trasę, należy wpisać w pola "Początek podróży" punkt początkowy, oraz cel w "Koniec podróży". Następnie należy wybrać samochód, podać stan baterii i kliknąć "Szukaj ładowarek".
</p>
<h2>Wyznaczanie trasy</h2>
<p>Trasa jest wyznaczana poprzez Google API - do API jest wysyłane żądanie z współrzędnymi początkowymi i końcowymi trasy, a zwracana jest trasa która jest następnie nasieniona na mapę poprzez Javascript.<br>
Współrzędnie są wyznaczane z nazwy miejsca również z użyciem Google API (geolokalizacja).<br>
Następnie z bazy danych pobierane są ładowarki, które znajdują się wzdłuż trasy.</p>
<h2>Obliczanie zasięgu maksymalnego</h2>
<p>Na zasięg maksymalny składa się kilka czynników: m. in. styl jazdy, początkowy stan baterii oraz warunki na drodze takie jak temperatura.<br />
Zasięg jest obliczany w dużym przybliżeniu, ponieważ aplikacja nie przewiduje częstotliwości korzystania użytkownika z klimatyzacji czy ogrzewania, oraz zakłada że styl jazdy będzie taki sam przez całą drogę. Należy wziąć to pod uwagę przy planowaniu podróży.<br />
Niektóre z ustawień można zmienić na swoim koncie w panelu użytkownika.</p>
<h2>Wykorzystane technologie</h2>
<p>Strona internetowa została wykonana w technologii ASP .NET, z wykorzystaniem:<br />
- C#,<br />
- Entity Framework, <br />
- Javascript, <br />
- HTML, CSHTML, CSS (również Bootstrap). </p>